.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
  }
  
  .search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .search-button:hover {
    background-color: #363636;
  }
  